*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    background-color: rgba(240, 112, 201, 0.2);
    overflow-x: hidden;
}

button{
    padding: 0.7vh 0.5vw;
    border-radius: 0.7vw;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1.7vw;
    cursor: pointer;
    background-color: blue;
    color: whitesmoke;
    font-size: 1.2vw;
    font-weight: 600;
    transition: 0.5s;
}

header{
    background-image: url(assets/header_back.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1vh 1.2vw;
}
.nav__left a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2.8vw;
    font-weight: bold;
}
.nav__right{
    margin: 3vh 1.4vw;
}
.nav__right a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5vw;
}

.logo{
    margin-top: 20vh;
}

.searchbox{
    display: flex;
    /* align-items: center; */
    background: #efefef;
    margin-left: 20vw;
    margin-top: 1.3vh;
    border-radius: 1.2vw;
    padding: 0 1px;
    width: 60vw;
}
.searchbox img{
    width: 2.1vw;
    padding: 0.7vh 0.3vw;
}
.searchbox input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.searchbox select{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-right: 1px solid #7c7c7c;
    cursor: pointer;
<<<<<<< HEAD
    padding-left: 0.8vw;
=======
    padding-left: 8px;
>>>>>>> 8d8b4b328caa2d5e12631312af0040b16fcc07f9
}

.food__type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 1.3vw;
    font-size: 1.4vw;
}
.food__type__mob{
    display: none;
}

.food__type button:hover{
    background-color: navy;
}
button:active{
    z-index: -8;
    transform: translateY(0.4vh);
}

.filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 1;
    margin: 8vh 1.3vw;
}
.filter button{
    background-color: rgba(240, 112, 201, 0.1);
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    font-weight: 300;
}
.filter button:active{
    background-color: whitesmoke;
}

.hero__container__mobile{
    display: none;
}

.hero__container{
    display: flex;
    margin-left: 1.5vw;
}
.food__box{
    flex-basis: 30%;
    margin: 2.5vh 2vw;
    padding: 2vh 1.4vw;
    border: 1px solid #7c7c7c;
    border-radius: 0.9vw;
    background-color: whitesmoke;
}
.food__box img{
    width: 25vw;
    border-radius: 0.9vw;
}

.load__more{
    text-align: center;
}
.load__more button{
    opacity: 0.5;
    background-color: whitesmoke;
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    font-weight: 250;
}
.load__more button:hover{
    opacity: 1;
}

footer{
    background-color: whitesmoke;
    margin-top: 5vh;
    padding-bottom: 4vh;
    padding-top: 3vh;
}
.policy__mob{
    display: none;
}
.policy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer li{
    margin: 2vh 0;
}
footer a{
    text-decoration: none;
    color: #7c7c7c;
}
footer p{
    color: #7c7c7c;
    margin: 1vh 2vw;
    margin-right: 0;
}

.social__links p{
    margin: 3vh 0 0 1vw;
    display: flex;
    align-items: center;
}
.social__links p a{
    width: 2vw;
}


@media(max-width: 768px){
    .nav__left a{
        font-size: 5vw;
        font-weight: bold;
    }
    .nav__left{
        padding: 4vh 3vw;
    }
    .nav__right{
        margin: 4vh 1.4vw;
    }
    .nav__right a{
        font-size: 3vw;
    }
    .searchbox{
        margin: 1.5vh 0 0 5vw;
        width: 90vw;
    }
    .searchbox img{
        width: 5vw;
        padding-left: 1vw;
    }
    .food__type{
        display: none;
    }
    .food__type__mob{
        display: contents;
        display: flex;
        justify-content: space-evenly;
        margin: 2vh 0;
    }
    .food__type__mob select{
        width: 60vw;
        height: 4vh;
        border: 1px solid black;
        border-radius: 8px;
        outline: none;
        color: blue;
        font-size: 4vw;
        font-weight: 700;
        background-color: pink;
        
    }
    .hero__container{
        display: none;
    }
    .filter{
        margin: 4vh 1.3vw;
    }
    .filter button{
        width: 18vw;
        font-size: 2.5vw;
    }
    .hero__container__mobile{
        display: contents;
        margin: 0 2.5%;
    }

    .food__box{
        width: 95%;
    }
    .food__box img{
        width: 100%;
    }
    .load__more button{
        width: 15vw;
        opacity: 1;
        font-size: 2.5vw;
    }
    
    .policy{
        display: none;
    }
    .policy__mob{
        display: contents;
    }

    .divide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 2vw;
    }
}