*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(assets/header_back.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}
.nav__left a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
}
.nav__right{
    margin: 15px 20px;
}
.nav__right a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}

.logo{
    margin-top: 120px;
}

.searchbox{
    display: flex;
    /* align-items: center; */
    background: #efefef;
    margin-left: 420px;
    margin-right: 420px;
    margin-top: 12px;
    border-radius: 16px;
    padding: 0 1px;
}
.searchbox img{
    width: 30px;
    padding: 4px 4px;
}
.searchbox input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.searchbox select{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-right: 1px solid #7c7c7c;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    cursor: pointer;
}

section{
    margin: 4rem;
} */

